<div class="table-responsive">
  <table class="<%= Ecm::Downloads::Configuration.download_categories_table_classes %>">
    <tbody>
      <%= render partial: 'ecm/downloads/download_categories/download_category_in_table', collection: download_categories, as: :download_category %>
    </tbody>
  </table>
</div>