<%= render @download_category %>

<div class="well page-actions">
<% if @download_category.root? %>
  <%= link_to(t('ecm.downloads.download_category.actions.back_to_index'), ecm_downloads_download_categories_path, class: 'btn btn-default') if respond_to?(:ecm_downloads_download_categories_path) %>
<% else %>
  <%= link_to(Ecm::Downloads::DownloadCategory.human_attribute_name(:parent), @download_category.parent, class: 'btn btn-default') %>
<% end %>
</div>
