<div class="table-responsive">
  <table class="<%= Ecm::Downloads::Configuration.downloads_table_classes %>">
    <tbody>
      <%= render partial: 'ecm/downloads/downloads/download_in_table', collection: downloads, as: :download %>
    </tbody>
  </table>
</div>
