<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= Ecm::Downloads::DownloadCategory.human_attribute_name(:ecm_downloads_downloads) %></h3>
  </div>
  <div class="table-responsive">
    <table class="<%= Ecm::Downloads::Configuration.downloads_table_classes %>">
      <tbody>
        <%= render partial: 'ecm/downloads/downloads/download_in_table', collection: downloads, as: :download %>
      </tbody>
    </table>
  </div>
</div>
