.left-padding-1 {
  padding-left: 10px;
}

.left-padding-2 {
  padding-left: 20px;
}

.left-padding-3 {
  padding-left: 30px;
}

.left-padding-4 {
  padding-left: 40px;
}

.left-padding-5 {
  padding-left: 50px;
}

.left-padding-6 {
  padding-left: 60px;
}

.left-padding-7 {
  padding-left: 70px;
}

.left-padding-8 {
  padding-left: 80px;
}

.left-padding-9 {
  padding-left: 90px;
}

.left-padding-10 {
  padding-left: 100px;
}